@media (max-width: 768px) {
  #navbar {
    margin-top: 13px;
    padding: 0 16px;
  }
  .navbar_right ul {
    display: none; /* Hide menu on mobile */
  }

  .navbar_left img {
    height: 38px;
  }

  /* Hero section start  */
  #hero {
    padding: 0 0;
    margin-top: 35px;
  }

  .hero_wrapper {
    flex-direction: column;
    text-align: center;
    gap: 28px;
  }

  .hero_left-content {
    order: 2;
    max-width: 100%;
    padding: 0 16px;
  }
  .hero_left-content h1 {
    margin-top: 13px;
  }

  .hero_right-image {
    order: 1;
    max-width: 100%;
    height: auto;
  }

  .hero_left-content h1 {
    font-size: 1.5rem;
  }
  .hero_left-content p {
    font-size: 14px;
  }

  /* Plants section  */
  #plants {
    margin-top: 35px;
    padding: 0 14px 17px;
  }
  .plants_content {
    padding: 0 28px;
  }
  .plants_content span {
    margin-top: 0;
  }
  .plants_content h2 {
    font-size: 1.5rem;
  }
  .plants_content p {
    font-size: 14px;
  }
  .plants_items {
    margin-top: 28px;
    grid-template-columns: repeat(2, 1fr);
  }
  .plants_item {
    max-width: 100%;
  }
  .item_img {
    max-width: 100%;
  }
  .item_img img {
    width: 100%;
  }
  .item-button {
    padding: 19px 30px;
    text-align: center;
  }
}
