@media (max-width: 768px) {
  #navbar {
    margin-top: 13px;
    padding: 0 16px;
  }
  .navbar_right ul {
    display: none; /* Hide menu on mobile */
  }

  .navbar_left img {
    height: 38px;
  }
}
