@media (max-width: 768px) {
  #navbar {
    margin-top: 13px;
    padding: 0 16px;
  }
  .navbar_right ul {
    display: none; /* Hide menu on mobile */
  }

  .navbar_left img {
    height: 38px;
  }

  /* Hero section start  */
  #hero {
    padding: 0 0;
    margin-top: 35px;
  }

  .hero_wrapper {
    flex-direction: column;
    text-align: center;
    gap: 28px;
  }

  .hero_left-content {
    order: 2;
    max-width: 100%;
    padding: 0 16px;
  }
  .hero_left-content h1 {
    margin-top: 13px;
  }

  .hero_right-image {
    order: 1;
    max-width: 100%;
    height: auto;
  }

  .hero_left-content h1 {
    font-size: 1.5rem;
  }
  .hero_left-content p {
    font-size: 14px;
  }

  /* Plants section  */
  #plants {
    margin-top: 35px;
    padding: 0 14px 17px;
  }
  .plants_content {
    padding: 0 28px;
  }
  .plants_content h2 {
    padding-top: 65px;
  }
  .plants_content span {
    margin-top: 0;
  }
  .plants_content h2 {
    font-size: 1.5rem;
  }
  .plants_content p {
    font-size: 14px;
  }
  .plants_items {
    margin-top: 28px;
    grid-template-columns: repeat(2, 1fr);
  }
  .plants_item {
    max-width: 100%;
  }
  .item_img {
    max-width: 100%;
  }
  .item_img img {
    width: 100%;
  }
  .item-button {
    padding: 19px 30px;
    text-align: center;
  }

  /* Plants Lover  */
  #plantsLover {
    padding: 0 16px;
    padding-bottom: 140px;
    margin-top: 30px;
  }
  .plantsLover_wrapper {
    flex-direction: column;
    gap: 18px;
  }
  .plantsLover_right_content h3 {
    font-size: 1.2rem;
  }
  .plantsLover_right_content li {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .trusted_badge {
    display: none;
  }

  /* deals  */
  #deals {
    padding: 0 16px;
  }
  .deals_content h2 {
    font-size: 1.5rem;
  }
  .deals_content p {
    font-size: 14px;
  }

  .deals_image {
    gap: 15px;
    padding-top: 46px;
    padding-bottom: 46px;
  }
  .deals_image_left {
    gap: 15px;
  }

  .deals_image_left,
  .deals_image_right {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .image_item {
    max-width: 100%;
  }
  .image_item_content h5 {
    font-size: 18px;
  }
  .image_item_right_content h5 {
    font-size: 28px;
  }
  .image_item_right_content a {
    font-size: 20px;
  }

  /* Join Section  */

  .section_wrapper {
    padding: 110px 36px 65px 36px;
  }
  .section_wrapper h2 {
    font-size: 20px;
  }

  input {
    padding-right: 140px;
  }

  button {
    padding: 19px 25px;
    font-size: 0.9rem;
  }

  /* footer section  */

  #footer {
    padding: 0 20px 14px;
  }
  .footer_wrapper {
    flex-direction: column;
  }

  .footer_icon_section img:first-child {
    margin-left: 0;
  }
}
