/* Google fonts link */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Common Css  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
  object-fit: cover;
}
html {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
li,
ul,
ol,
img,
a {
  margin: 0;
  padding: 0;
}
/* Variable  */
:root {
  --font-noto: 'Noto Serif', serif;
  --font-inter: 'Inter', sans-serif;
  --primary-text-color: #000000;
  --paragraph-color: rgba(0, 0, 0, 0.5);
  --orange-color: #e95a08;
  --white-color: #ffffff;
  --nav-text-color: #8987a1;
  --text-hover-color: #252432;
}
/* main width  */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.section-description {
  color: var(--paragraph-color);
  font-family: var(--font-inter);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ======= navbar Section Start  Here =======  */
#navbar {
  margin-top: 24px;
}
.navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_right {
  display: flex;
  align-items: center;
  gap: 48px;
}
.navbar_right ul {
  display: flex;
  gap: 48px;
}
.navbar_right ul > li > a {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--nav-text-color);
  transition: color 0.3s ease, font-weight 0.3s ease;
}
.navbar_right ul > li > a:hover {
  color: var(--text-hover-color);
  font-weight: 700;
}
.navbar_icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar_icons a {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--primary-text-color);
}
.navbar_icons a > i {
  width: 24px;
  height: 24px;
  color: var(--primary-text-color);
}
/* ======= navbar Section End Here =======  */
#hero {
  margin: 120px 0;
}
.hero_wrapper {
  display: flex;
  justify-content: space-between;
}
.hero_left-content {
  max-width: 570px;
  order: 1;
  text-align: left;
}
.hero_left-content h1 {
  font-family: var(--font-noto);
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--primary-text-color);
  margin-bottom: 13px;
}
.hero_left-content h1 > span {
  color: var(--orange-color);
}
.hero_right-image {
  max-width: 570px;
  height: 355px;
  overflow: hidden;
  order: 2;
}
.hero_right-image img {
  width: 100%;
}
/* ======= Hero  Section Start  Here =======  */

/* ======= Hero  Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
