/* Google fonts link */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Common Css  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
  object-fit: cover;
}
html {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
li,
ul,
ol,
img,
a {
  margin: 0;
  padding: 0;
}
/* Variable  */
:root {
  --font-noto: 'Noto Serif', serif;
  --font-inter: 'Inter', sans-serif;
  --primary-text-color: #000000;
  --paragraph-color: rgba(0, 0, 0, 0.5);
  --orange-color: #e95a08;
  --white-color: #ffffff;
  --nav-text-color: #8987a1;
  --text-hover-color: #252432;
  --bg-color: #f5f8ff;
}
/* main width  */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  background-color: var(--bg-color);
}
/* Shared Style  */
.section-title {
  font-family: var(--font-noto);
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
  line-height: normal;
  color: var(--primary-text-color);
}
.section-description {
  color: var(--paragraph-color);
  font-family: var(--font-inter);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ======= navbar Section Start  Here =======  */
#navbar {
  margin-top: 24px;
}
.navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_right {
  display: flex;
  align-items: center;
  gap: 48px;
}
.navbar_right ul {
  display: flex;
  gap: 48px;
}
.navbar_right ul > li > a {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--nav-text-color);
  transition: color 0.3s ease, font-weight 0.3s ease;
}
.navbar_right ul > li > a:hover {
  color: var(--text-hover-color);
  font-weight: 700;
}
.navbar_icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar_icons a {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--primary-text-color);
}
.navbar_icons a > i {
  width: 24px;
  height: 24px;
  color: var(--primary-text-color);
}
/* ======= navbar Section End Here =======  */
/* ======= Hero  Section Start  Here =======  */
#hero {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f5f8ff;
}
.hero_wrapper {
  display: flex;
  justify-content: space-between;
}
.hero_left-content {
  max-width: 570px;
  order: 1;
  text-align: left;
}
.hero_left-content h1 {
  font-family: var(--font-noto);
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--primary-text-color);
  margin-bottom: 13px;
  margin-top: 56px;
}
.hero_left-content h1 > span {
  color: var(--orange-color);
}
.hero_right-image {
  max-width: 570px;
  height: 355px;
  overflow: hidden;
  order: 2;
}
.hero_right-image img {
  width: 100%;
}

/* ======= Hero  Section End Here =======  */
/* ======= Plants Section Start  Here =======  */
#plants {
  margin-top: 120px;
}
.plants_content {
  text-align: center;
  max-width: 888px;
  margin: 0 auto;
}
.plants_content h2 > span {
  color: var(--orange-color);
}
.plants_content h2 {
  margin-bottom: 16px;
}
.plants_item {
  max-width: 270px;
}
.item_content h4 {
  font-family: var(--font-inter);
  font-family: 22px;
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: 150%;
  text-transform: capitalize;
  margin-top: 30px;
  text-align: center;
}
.item_content span {
  font-family: var(--font-inter);
  font-family: 22px;
  font-weight: 700;
  color: var(--primary-text-color);
  line-height: 150%;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  display: block;
}
.item-button {
  font-family: var(--font-inter);
  font-family: 1rem;
  font-weight: 600;
  color: white;
  line-height: 150%;
  text-transform: capitalize;
  padding: 19px 80px;
  width: 100%;
  background: var(--orange-color);
}
.plants_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 49px;
  max-width: 100%;
}
/* ======= Plants Section End Here =======  */
/* ======= Plants Lover section  Section Start  Here =======  */
#plantsLover {
  padding-top: 210px;
  padding-bottom: 133px;
}
.plantsLover_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  position: relative;
}
.plantsLover_left_image {
  max-width: 540px;
  overflow: hidden;
  order: 1;
}
.plantsLover_left_image img {
  background: linear-gradient(
      180deg,
      rgba(103, 171, 234, 0.24) 0%,
      rgba(233, 90, 8, 0.6) 100%
    ),
    url(<path-to-image>) lightgray -197.425px -16.973px / 160.314% 103.191%
      no-repeat;
  width: 100%;
  object-fit: cover;
}
.plantsLover_right_content {
  max-width: 540px;
  order: 2;
}

.plantsLover_right_content ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  margin-top: 20px;
}
.plantsLover_right_content h3 {
  font-family: var(--font-noto);
  font-weight: 700;
  font-size: 3.125rem;
  color: var(--primary-text-color);
  line-height: normal;
}
.plantsLover_right_content li {
  font-family: var(--font-inter);
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  color: var(--paragraph-color);
  margin-bottom: 20px;
}

.trusted_badge {
  width: 286px;
  height: 286px;
  position: absolute;
  top: -101px;
  left: 346px;
}
.trusted_badge img {
  width: 100%;
}
/* ======= Plants Lover section  Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
/* ======= navbar Section Start  Here =======  */
/* ======= navbar Section End Here =======  */
